#startWrapper {
  height: 100vh;
  background: url("../../bgs/bg-start.jpg") no-repeat;
  background-size: 80%;
  background-position-x: left;
  background-position-y: bottom;

  img {
    display: block;
    margin: auto;
    position: relative;
    top: 15rem;
  }
}
