.descriptionCard-wrapper {
  cursor: auto;
  padding: 0 10px 38px 0;
  left: 0px;
  .descriptionCard {
    padding: 14px 10px 10px 15px;
    .heading {
      font-weight: bold;
      font-size: 16px;
      line-height: 133.3%;
      letter-spacing: 0.02em;
      padding-bottom: 10px;
    }

    p {
      font-weight: 300;
      font-size: 10px;
      line-height: 140%;
      letter-spacing: 0.04em;
      color: #000000;
      padding: 0 40px 30px 0;
      margin: 0;
    }

    @mixin square($squareSize) {
      width: $squareSize;
      height: $squareSize;
    }

    .descriptionClose {
      cursor: pointer;
      background-color: black;
      color: white;
      @include square(20px);
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 133.3%;
      letter-spacing: 0.02em;
    }

    .socialIconsWrapper {
      line-height: 0;
      .socialIcons {
        &.first {
          margin-bottom: 2px;
        }
        @include square(13px);
      }
    }
  }
}

@media (max-width: 576px) {
  .descriptionCard-wrapper {
    padding: 10px 10px 0 0;
  }
  #dummy-descriptionCard {
    width: 210%;
  }
}

@media screen and (max-width: 576px) and (min-width: 476px) {
  .descriptionCard-wrapper {
    padding: 10px 20px 0 0;
  }
}
