@font-face {
  font-family: 'Aileron';
  src: url('./Aileron-Regular/fonts/Aileron-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('./Aileron-Regular/fonts/Aileron-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./Aileron-Regular/fonts/Aileron-Regular-webfont.otf')
      format('opentype'),
    /* Open Type Font */ url('./Aileron-Regular/fonts/Aileron-Regular-webfont.svg')
      format('svg'),
    /* Legacy iOS */ url('./Aileron-Regular/fonts/Aileron-Regular-webfont.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./Aileron-Regular/fonts/Aileron-Regular-webfont.woff')
      format('woff'),
    /* Modern Browsers */ url('./Aileron-Regular/fonts/Aileron-Regular-webfont.woff2')
      format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('./Aileron-Bold/fonts/Aileron-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('./Aileron-Bold/fonts/Aileron-Bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./Aileron-Bold/fonts/Aileron-Bold-webfont.otf') format('opentype'),
    /* Open Type Font */ url('./Aileron-Bold/fonts/Aileron-Bold-webfont.svg')
      format('svg'),
    /* Legacy iOS */ url('./Aileron-Bold/fonts/Aileron-Bold-webfont.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./Aileron-Bold/fonts/Aileron-Bold-webfont.woff')
      format('woff'),
    /* Modern Browsers */ url('./Aileron-Bold/fonts/Aileron-Bold-webfont.woff2')
      format('woff2'); /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('./Aileron-Heavy/fonts/Aileron-Heavy-webfont.eot'); /* IE9 Compat Modes */
  src: url('./Aileron-Heavy/fonts/Aileron-Heavy-webfont.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./Aileron-Heavy/fonts/Aileron-Heavy-webfont.otf')
      format('opentype'),
    /* Open Type Font */ url('./Aileron-Heavy/fonts/Aileron-Heavy-webfont.svg')
      format('svg'),
    /* Legacy iOS */ url('./Aileron-Heavy/fonts/Aileron-Heavy-webfont.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./Aileron-Heavy/fonts/Aileron-Heavy-webfont.woff')
      format('woff'),
    /* Modern Browsers */ url('./Aileron-Heavy/fonts/Aileron-Heavy-webfont.woff2')
      format('woff2'); /* Modern Browsers */
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('./Aileron-Light/fonts/Aileron-Light-webfont.eot'); /* IE9 Compat Modes */
  src: url('./Aileron-Light/fonts/Aileron-Light-webfont.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./Aileron-Light/fonts/Aileron-Light-webfont.otf')
      format('opentype'),
    /* Open Type Font */ url('./Aileron-Light/fonts/Aileron-Light-webfont.svg')
      format('svg'),
    /* Legacy iOS */ url('./Aileron-Light/fonts/Aileron-Light-webfont.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./Aileron-Light/fonts/Aileron-Light-webfont.woff')
      format('woff'),
    /* Modern Browsers */ url('./Aileron-Light/fonts/Aileron-Light-webfont.woff2')
      format('woff2'); /* Modern Browsers */
  font-weight: lighter;
  font-style: normal;
}
