#searchWrapper {
  font-family: "Aileron";
  padding: 70px 15px 0;
  height: 100vh;
  background: url("/images/bgs/bg-home.jpg") no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  form {
    padding: 0 10px 40px 0;
    label {
      width: 100%;

      #searchLabel {
        font-weight: bold;
        padding-bottom: 15px;
      }
    }

    #searchPhotos {
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;
      border-left-width: 0;
      border: 2px solid black;
      font-size: 13px;
      padding: 10px;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  #searchResultText {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 20px;
  }

  @mixin square($squareSize) {
    width: $squareSize;
    height: $squareSize;
  }
  .item {
    padding: 0 10px 10px 0;
    cursor: pointer;
    //   &,
    //   img {
    //     @include square(150px);
    //   }
  }

  .descriptionCard-wrapper {
    padding-right: 10px;
    .descriptionCard {
      padding: 20px 10px 10px 15px;
      .heading {
        font-weight: bold;
        font-size: 25px;
        line-height: 28px;
        padding-bottom: 15px;
      }

      p {
        color: #6d6d6d;
        font-size: 14px;
        line-height: 20px;
        padding: 0 50px 30px 0;
      }

      .descriptionClose {
        cursor: pointer;
        background-color: black;
        color: white;
        @include square(30px);
        text-align: center;
        font-size: 25px;
        line-height: 28px;
      }
    }
  }
}
