$contentWrapperWidth: 340px;
.contentWrapper {
  width: $contentWrapperWidth;
  position: relative;
}

#searchWrapper {
  font-family: "Aileron";
  padding: 0 0 0 10px;
  background: url("/images/bgs/bg-home.jpg") no-repeat;
  background-size: auto;
  background-position-x: right;
  background-position-y: bottom;
  height: 100vh;
  overflow: auto;

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #goBack {
    width: 25px;
    transform: rotate(180deg);
    margin: 28px auto;
  }
}
#loader {
  width: 300px;
  margin: auto;
}

#dummy-descriptionCard {
  width: $contentWrapperWidth;
  visibility: hidden;
}
